.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header {
  height: 50px;
  padding: 0 16px;
  background-color: #C62F2F;

  .logo {
    display: flex;
    align-items: center;
    height: 100%;
    color: #fff;

    .login-icon {
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      border-radius: 50%;
      background-color: #fff;
      color: #C62F2F;
      margin-right: 10px;
    }
  }

  .tools {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 60px;

    .page-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 53px;
      height: 22px;
      margin-right: 10px;
      border: 1px solid #a82828;
      border-radius: 3px;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        cursor: pointer;
        color: #c77373;

        &:first-child {
          border-right: 1px solid #a82828;
        }

        &.active,
        &:hover {
          color: #fff;
        }
      }
    }

    .search-bar {
      width: 220px;
      height: 22px;

      :global {
        .ant-input-search {
          vertical-align: top;
        }

        .ant-input {
          height: 22px;
          line-height: 22px;
          padding: 0 11px;
          background-color: #a82828;
          border: 1px solid #a82828;
          border-radius: 11px;
          font-size: 12px;
          color: #fff;

          &::-webkit-input-placeholder {
            color: #c77373;
          }

          &::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: #c77373;
          }

          &:-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: #c77373;
          }

          &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #c77373;
          }
        }

        .ant-input-suffix .anticon {
          color: #fff;
        }
      }
    }
  }

  .user-bar {
    display: flex;
    align-items: center;
    height: 100%;
    color: #eec1c1;

    .user-box {
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        color: #fff;
      }

      .user {
        width: 24px;
        height: 24px;
        line-height: 24px;
        margin-right: 6px;
        text-align: center;
        border-radius: 50%;
        overflow: hidden;
        background-color: #e1e3e4;
        color: #fff;
      }

      .username {
        margin-right: 10px;
      }
    }

    .skin,
    .message,
    .settings {
      margin-left: 20px;
      cursor: pointer;

      :global(.iconfont) {
        font-size: 20px;
      }
    }
  }
}

.content {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.footer {
  height: 48px;
  border-top: 1px solid #E1E1E2;
  background-color: #f6f6f8;
}

.menu {
  width: 200px;
  height: 100%;
  border-right: 1px solid #E1E1E2;
  background-color: #f5f5f7;

  .title {
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
  }

  .menu-list {
    a {
      display: flex;
      align-items: center;
      height: 32px;
      line-height: 32px;
      border-left: 3px solid transparent;
      padding-left: 16px;
      color: #5C5C5C;

      :global {
        .iconfont {
          margin-right: 10px;
        }
      }

      &.active,
      &:hover {
        color: #000000;
      }

      &.active {
        background-color: #e6e7ea;
        border-left: 3px solid #C62F2F;

      }

      .iconfont {
        margin-right: 10px;
      }
    }
  }
}

.view {
  flex: 1;
  overflow: hidden;
  overflow-y: auto;
}

.login {
  display: none;
  position: fixed;
  z-index: 999;
  width: 350px;
  height: 530px;
  padding: 0 45px;
  padding-top: 40px;
  background-color: #FAFAFA;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  .login-title {
    text-align: center;
    font-size: 18px;
  }

  .login-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
  }

  &.show {
    display: block;
  }

  .login-bg {
    padding-top: 40px;
    padding-bottom: 50px;
  }

  .login-form {
    .login-form-box {
      border: 1px solid #D8D8D8;
      border-radius: 5px;

      .form-item-bdr {
        border-bottom: 1px solid #D8D8D8;
      }

      .login-form-item {
        position: relative;
        padding: 0 10px;

        .form-item-tip {
          position: absolute;
          top: 0;
          right: 10px;
          line-height: 38px;
        }
      }

      .username {
        width: 150px;
      }

      .password {
        width: 215px;
      }

      input {
        height: 38px;
        outline: 0;
        border: 0;
        margin-left: 5px;
        background-color: transparent;
      }
    }

    .remember-item {
      position: relative;
      padding: 10px 0;

      .login-tip-message {
        display: none;
        position: absolute;
        top: 10px;
        right: 0;
        line-height: 21px;

        &.active {
          display: block;
          color: #C72E2E;
        }
      }
    }

    .login-form-button {
      width: 100%;
      height: 40px;
      background-color: #ea4848;
      border-color: #ea4848;

      &:focus,
      &:hover {
        background-color: #c72e2e;
        border-color: #c72e2e;
      }
    }
  }

}

.skin-box {
  display: flex;
  justify-content: space-between;
  width: 320px;

  .skin-item-box {
    width: 94px;
    height: 94px;
    border: 1px solid transparent;
    padding: 1px;

    &.red {
      &:hover {
        border-color: #C62F2F;
      }

      .skin-item {
        background-color: #C62F2F;
      }
    }

    &.black {
      &:hover {
        border-color: #292C32;
      }

      .skin-item {
        background-color: #292C32;
      }
    }

    &.green {
      &:hover {
        border-color: #419C5E;
      }

      .skin-item {
        background-color: #419C5E;
      }
    }
  }

  .skin-item {
    position: relative;
    height: 100%;

    p {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 20px;
      line-height: 20px;
      color: #fff;
      margin: 0;
      padding: 0 5px;
      background-color: rgba(0, 0, 0, .1);
    }

    &.show {
      :global(.iconfont) {
        display: flex;
      }
    }

    :global(.iconfont) {
      position: absolute;
      right: 0;
      bottom: 0;
      height: 16px;
      z-index: 1;
      display: none;
      width: 18px;
      align-items: center;
      justify-content: center;
      color: #B82525;
      border: 10px solid #fff;
      border-radius: 50%;
    }
  }
}