.fm {
  width: 760px;
  margin: 0 auto;

  .song {
    display: flex;
  }

  .song-left {
    width: 360px;
    display: flex;
    justify-content: center;
    margin-right: 42px;
  }

  .music-box {
    position: relative;
    width: 270px;
    height: 270px;
    border-radius: 10px;
  }

  .song-right {
    width: 310px;
  }
}